@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121214;

    --base-color: 194; /*Cor base do projeto*/
    --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
    --primary-color: hsl(var(--base-color), 100%, 63%);

    --text-color: #ffffff;

    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: 'Roboto', sans-serif;
}

button {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.hide { /*Uso esta classe para esconder o button*/
    display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path {
    fill: var(--primary-color);
}

#timer {
    font-size: 8.8rem;

    display: flex;
}

#controls {
    background-color: var(--bg-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px; /*Formato de borda "pill" ou estilo pilula*/
}