@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    width: 1000px;
    margin: 65px auto 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
}