@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;*/

:root {
    --fonte1: 'Inter', sans-serif; 
    --fonte2: 'Open Sans', sans-serif;
    --color1: #7D7987;
    --color2: #FF9900;
    --color-line: #ECEFF2;
    /*para chamar a fonte Inter basta:
    font-family: var(--fonte1);*/
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    font-family: var(--fonte2);
    text-align: center;
    width: 593px;
    margin: auto;
}

header {
    margin: 0px auto 32px;
}

img {
    margin: 0px auto 72px;
}

h1 {
    font-family: var(--fonte1);
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
}

h1 span {
    font-weight: bold;
}

section {
    margin: 0px auto 72px;
}

p {
    color: var(--color1);
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 28px;
}

span, a {
    color: var(--color2);
}

footer {
    margin-bottom: 28px;
}

.line {
    border: 1px solid var(--color-line);
    margin: 0px auto 8px;
}

footer a + a {
    margin-left: 28px;
}