@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;*/

:root {
    font-size: 62.5%;
    --fonte1: 'Inter', sans-serif; 
    --fonte2: 'Open Sans', sans-serif;
    --color1: #7D7987;
    --color2: #FF9900;
    --color-line: #ECEFF2;
    /*para chamar a fonte Inter basta:
    font-family: var(--fonte1);*/
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: var(--fonte2);
    text-align: center;
    max-width: 593px;
    min-width: 320px;
    margin: auto;
}

header {
    margin: 0px auto 3.2rem;
}

#img1 {
    margin: 0 auto 7.2rem;
}

h1 {
    font-family: var(--fonte1);
    font-size: 4.9rem;
    line-height: 5.6rem;
    font-weight: normal;
    margin-bottom: 3.2rem;
}

h1 span {
    font-weight: bold;
}

main {
    margin: 0px auto 7.2rem;
}

p {
    color: var(--color1);
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-bottom: 2.8rem;
}

span, a {
    color: var(--color2);
}

footer {
    margin-bottom: 2.8rem;
}

.line {
    border: 1px solid var(--color-line);
    margin: 0 auto 8px;
}

footer a + a {
    margin-left: 2.8rem;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}