@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Epilogue', sans-serif;

    /*Uma ótima dica para um projeto com cores monocromáticas é usar o (--hue) como uma variável e usa-la dentro das variáveis das cores*/
    --hue: 250;
    --bg-color: hsl(var(--hue),22%, 20%);
    --fc-primary: hsl(var(--hue),0%, 100%);
    --fc-secondary: hsl(var(--hue),50%, 80%);

    font-size: 62.5%;
    --fs-body: 1.6rem;
    --fs-heading: 4rem;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    color: var(--fc-primary);
    background-color: var(--bg-color);
}

.page {
    max-width: 33rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

header {
    margin: 10rem 0 8rem;
    text-align: center;
}

header p {
    color: var(--fc-secondary);
    text-transform: uppercase;
    line-height: 3.2rem;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 1.7rem;
}

header h1{
    font-weight: 800;
    font-size: var(--fs-heading);
    line-height: 4.8rem;
}

.card {
    position: relative;
}

.card img{
    height: 41.6rem;
    object-fit: cover; /*Colcando a altura de 41,6rem a imagem esticou, então foi usada a propriedade (object-fit: cover;) para evitar este problema. */
}

.card h2 {
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;
}