@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Poppins&display=swap');

:root {
    --font1: 'Archivo', sans-serif;
    --font2: 'Poppins', sans-serif;
    --color-body1: #E5E5E5;
    --color-body2: #121214;
    --color-form1: #FAFAFC;
    --color-form2: #E6E6F0;
    --color-font1: #42D3FF;
    --color-font2: #4E4958;
    --color-font3: #6C6A71;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, select, textarea {
    font-family: var(--font2);
}

body {
    font-family: var(--font2);
    background-color: var(--color-body1);
}

body::before { /*cria a cor preta deste plano de fundo*/
    content: '';
    width: 100%;
    height: 368px;

    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-body2);
    z-index: -1;
}

.page {
    max-width: 736px;
    min-width: 319px;
    margin: auto;
}

header {
    width: 319px;
    margin-top: 74px;
}

header h1 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
}

header p {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 26px;
    color: var(--color-font1);
}

form {
    margin-top: 38px;
    background-color: var(--color-form1);
    min-height: 300px;
    border-radius: 8px;
    padding: 64px;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend {
    font-family: var(--font1);
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    width: 100%;
    border-bottom: 1px solid var(--color-form2) ;
    padding-bottom: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-font2);
    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 12px;

    font-size: 12px;
    line-height: 20px;
    color: #6c6a71ad; /*usei o color-font3 com transparência*/
}

.input-wrapper label span:hover {
    color: var(--color-font3);
}

.input-wrapper input, .input-wrapper textarea {
    background: var(--color-form1);
    border: 1px solid var(--color-form2);
    border-radius: 8px;
    height: 56px;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-font3);
}

.input-wrapper textarea {
    padding: 0;
    height: 168px;
}